{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./styles/tailwind.config.js",
    "tailwindCSS.experimental.classRegex": ["class\\s*:\\s*\"([^\"]*)"],
    "tailwindCSS.includeLanguages": {"rust": "html"}
}
